@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0e1217;
  --bg-secondary: #1c1f26;
  --border: #383d47;
  --border-hover: #545b6a;
  --text-primary: #ffffff;
  --text-secondary: #a8b3cf;
  --backdrop: #00000066;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
